PORT=8090
MAX_SESSIONS=1
SESSION_TTL_MINUTES=15
IDLE_TTL_MINUTES=5
BROWSER_MEMORY_MB=2048
BROWSER_CPU=1
BROWSER_IMAGE=zbrowse-browser:1.0.0
BROWSER_NETWORK=zbrowse_net
DOCKER_GID=998
TRUST_PROXY=1
START_URL=https://fawesome.tv/
